@import 'tailwindcss';
@source "./**/*.{ts,tsx}";

:root {
  --background: #ffffff;
  --foreground: #202124;

  --primary: #0d6efd;
  --primary-contrast: #fff;
  --secondary: #6c757d;
  --secondary-contrast: #fff;

  --muted: #9d9d9d;
  --error: #dc3545;
  --success: #198754;
  --warning: #ffc107;
  --info: #0dcaf0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TODO: Add dark mode colors */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-contrast: var(--primary-contrast);
  --color-secondary: var(--secondary);
  --color-secondary-contrast: var(--secondary-contrast);

  --color-muted: var(--muted);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-info: var(--info);

  --font-sans: var(--font-default);
}

@layer base {
  html {
    font-size: 18px;
  }
}

/* Extending the tailwind container class. */
@utility container {
  @apply mx-auto max-w-4xl min-w-xs px-4;
}
